  <% if @customer == current_customer %>
    <h1>マイページ</h1>
  <% else %>
    <h1>会員ページ</h1>
  <% end %>

  <%= render 'public/customers/show', customer: @customer %>

  <%= render 'public/customers/posts', customer: @customer, posts: @posts %>